<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xmartlabs.template">

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
        />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:icon="@drawable/home_logo"
        android:label="@string/app_name"
        android:name="com.xmartlabs.doapp.DoAppApplication"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name="com.xmartlabs.doapp.ui.MainActivity"
            android:screenOrientation="portrait"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fb54b0fcded49d3e82043de10c558d9ea0018076"
            />

        <activity
            android:label="@string/app_name"
            android:name="com.xmartlabs.doapp.ui.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            ><!-- Using android:theme="@android:style/Theme.NoDisplay" crashes in API 23. -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.xmartlabs.doapp.ui.SinginActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.xmartlabs.doapp.ui.SingupActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.xmartlabs.doapp.ui.OnBoardingActivity"
            android:screenOrientation="portrait"
            />

    </application>
</manifest>
